@using UniversityManagementSystem.Models

@{
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";
    List<DepartmentModel> departments = ViewBag.departments;
}
 

<div>

    @Html.Label("Department")
    <br/>
    @Html.DropDownList("DepartmentId", new SelectList(departments, "Id", "Code"), "--select--", new { @class="Textbox1"})

    <br/>
    <br/>
    <br/>
    <table border="1" class="NiceTable">
        <thead>
        <tr>
            <th>Course Code</th>
            <th>Name</th>
            <th>Schedule Info</th>
        </tr>
        </thead>

        <tbody id="scheduleInfo">

        </tbody>
    </table>

</div>








<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function() {

        $('#DepartmentId').change(function() {

            var departmentId = $('#DepartmentId').val();

            var json = { departmentId: departmentId };

            $.ajax({
                type: "POST",

                url: '@Url.Action("ScheduelByDepartmentId", "ViewClassSchedule")',
                //url: '/ViewCourse/ViewCourseStatics',

                contentType: "application/json; charset=utf-8",

                data: JSON.stringify(json),

                success: function(data) {


                    //$("#StudentDetails").empty();
                    $("#scheduleInfo").empty();
                    // $("#CourseId").append('<option value="">--Select--</option>');


                    $.each(data, function(key, value) {

                        //$("#CourseId").append('<option value=' + value.Id + '>' + value.Name + '</option>');
                        $("#scheduleInfo").append('<tr> <td> ' + value.CourseCode + ' </td> <td>' + value.Name + '</td>   <td>' + value.ScheduleInFo + '</td>   </tr>');
                    });

                }


            });
        });

    });

</script>




<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>





 