
@{
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml"; 

}

 
<div>



    @using (@Html.BeginForm())
    {

        <section>


            <h1>@Html.ActionLink("Unallocate Classromm", "UnallocateClassroom") </h1>




        </section>
    }
</div> 