
@{
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml"; 


    string message = ViewBag.message;
}
   
<div>



    @using (@Html.BeginForm())
    {

        <section>


            <h3>@message</h3>

        </section>
    }


</div> 