
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnassignCourse</title>


</head>
<body>
<div>


    @using (@Html.BeginForm())
    {
        
                
        
        <input type="submit" value="Unassign Courses"/>
    }



</div>
</body>
</html>
