@{
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml"; 

  
}
 
    <div>


        @using (@Html.BeginForm())
        {

            <section>


                <h2>@Html.ActionLink("UnassignAllCourse", "UnassignAllCourse") </h2>


               

            </section>
        }



    </div> 