@using UniversityManagementSystem.Models

@{
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";
    List<DepartmentModel> departments = ViewBag.departments;
    
}

<div>
    <table class="NiceTable">

        <thead>
        
        <tr>
            <th>Code</th>
            <th>Name</th>
        </tr>
        </thead>
        @foreach (DepartmentModel department in departments)
        {
            <tr>
                <td>@department.Code</td>
                <td>@department.Name</td>
            </tr>
        }
    </table>

</div>
