@using UniversityManagementSystem.Models
@using UniversityManagementSystem.Models.ViewModel
@model ViewCourseViewModel

@{
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";
    List<DepartmentModel> departments = ViewBag.departments;
}    


<div>
    <table align="center">
        <tr>
            <td>
                @Html.Label("Department", new {@class = "Textbox1"})
            </td>
            <td>
                @Html.DropDownList("DepartmentId", new SelectList(departments, "Id", "Code"), "--Select--", new {@class = "Textbox1"})
            </td>
        </tr>

    </table>

    <table class="NiceTable">
        <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Semester</th>
            <th>Assigned To</th>
        </tr>
        </thead>
        <tbody id="CourseDetails"></tbody>
    </table>




    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function() {

            $('#DepartmentId').change(function() {

                var departmentId = $('#DepartmentId').val();

                var json = { departmentId: departmentId };

                $.ajax({
                    type: "POST",

                    url: '@Url.Action("GetCoursesByDepartmentId", "ViewCourseStatics")',
                    //url: '/ViewCourse/ViewCourseStatics',

                    contentType: "application/json; charset=utf-8",

                    data: JSON.stringify(json),

                    success: function(data) {


                        //$("#StudentDetails").empty();
                        $("#CourseDetails").empty();
                        // $("#CourseDetails").append('<option value="">--Select--</option>');


                        $.each(data, function(key, value) {

                            // $("#CourseDetails").append('<option value=' + value.StudentId + '>' + value.StudentName + '</option>');
                            $("#CourseDetails").append('<tr> <td> ' + value.Code + ' </td> <td>' + value.Name + '</td>   <td>' + value.Semester + '</td>   <td>' + value.AssignedTo + '</td></tr>')
                        });

                    }


                });
            });

        });

    </script>




    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


</div> 