@using UniversityManagementSystem.Models.ViewModel
@model ViewCourseViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewCourse</title>
</head>
<body>
<div>


</div>
</body>
</html>
